{{ partial "header.html" . }}

{{ .Content }}

<div class="row">
	<div class="cleft">
		<h3> Publications </h3>
		<ul>
			{{ $pages := .Pages }}
			{{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
			{{ range (where $pages "Section" "=" "articles") }}
			<li>
				<span class="date">{{ .Date.Format "02.01.2006" }}</span>
				<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
			</li>
			{{ end }}
		</ul>

	</div>
	<div class="cright">
		<h3> News and Miscellanea </h3>
		<ul>
			{{ $pages := .Pages }}
			{{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
			{{ range (where $pages "Section" "=" "post") }}
			<li>
				<span class="date">{{ .Date.Format "02.01.2006" }}</span>
				<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
			</li>
			{{ end }}
		</ul>

	</div>
</div>

{{ partial "footer.html" . }}

