{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
</div>

<h3>Article data:</h3>

<ul>
	<li>Reference: <br/>
		{{ .Params.textauthors }}, <em>{{ .Params.title }}</em> <br />
		{{ .Params.journaltitle }}
		<b>{{ .Params.volume }}</b>,
		{{ .Params.pages }},
		({{ .Date.Format "2006" }}).
	</li>
		
	{{ if (gt .Params.date 0) }}<li class="date">Published: {{ .Date.Format "02.01.2006" }}</li>{{ end }}
</ul>

<h3>Links:</h3>

<ul>
	<li>Article online: <a href="{{ .Params.puburl }}">(publisher)</a> <a href="https://doi.org/{{ .Params.doi }}">(doi)</a></li>
	<li>Get pdf from this site: <a href="/pdfs/{{ .Params.pdffile }}">link</a>
	<li>Get bibtex file from this site: <a href="/bibs/{{ .Params.bibfile }}">link</a>
</ul>

<main>
	{{ .Content }}
</main>

{{ partial "footer.html" . }}

